@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 100%;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
  line-height: normal;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
}

.header__navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding: 0 20px 10px 0;
  border-bottom: 1px solid rgba(219, 211, 211, 0.925);
  border-top: 1px solid rgba(219, 211, 211, 0.925);
}

.header__navbar_left {
  padding: 15px 0 0 0;
}

.header__navbar_left .headerlink {
  color: black;
  font-weight: 1000;
  padding: 0 0 0 20px;
}

.header__navbar_middle {
  padding: 2px 11px 0 0;
}

.header__navbar_right {
  padding: 7px 0 0 0;
}

.headerbutton {
  background: #567b95;
  color: #fff;
  padding: 11px 12px 8px;
  margin-left: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
}

main {
  width: 100%;
  margin: 60px auto 0 auto;
}

.articlebottom {
  width: 50%;
  margin: 20px auto 10px auto;
  padding: 0 3% 0 0;
  color: #333;
  font-family: "Montserrat", serif;
  line-height: 1.7;
  font-weight: 600;
}

.articlebottom a {
  color: #326891;
  text-decoration: underline;
}

.articlebottom a:hover {
  text-decoration: none;
}

.articlebottom figure {
  margin: 50px 0 50px 0;
  width: 100%;
}

.articlebottom figure figcaption {
  font-family: "Libre Franklin", sans-serif;
  line-height: normal;
  padding: 0 20px 0 0;
  color: #666;
}

.articlebottom figure figcaption span {
  color: #888;
  font-size: 12px;
}

.articlebottom figure img {
  width: 600px;
}

.articlebottom h3 {
  display: inline-block;
  padding: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.articlebottom__footer {
  margin: 30px 0 30px 0;
  color: #666;
  font-size: 12px;
}

.articlebottom__footer .linkbot {
  color: #666;
}

.articlebottom__footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articlebottom__footer__navbar_left .bottombutton {
  background: #567b95;
  color: #fff;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
  padding-left: 95px;
  padding-right: 95px;
}

.articlebottom__footer__navbar_right .social {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 2px 2px 2px;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.articlebottom__footer__navbar_right .social:hover {
  border: 1px solid grey;
  border-radius: 50%;
}

.mainheading {
  margin: 0 auto;
  text-align: left;
  width: 75%;
}

.mainheading h1 {
  display: inline-block;
  color: #121212;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  padding: 0 17% 25px 17%;
}

.mainheading .maincaption {
  padding: 10px 20px 45px 0;
  color: #666;
}

.mainheading .maincaption span {
  color: #888;
  font-size: 12px;
}

.mainheading .mainimg {
  width: 945px;
}

.articlemain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.articlemain__center {
  width: 75%;
  padding: 0 3% 0 25%;
  color: #333;
  font-family: "Montserrat", serif;
  line-height: 1.7;
}

.articlemain__center__head .centerheadlink {
  color: #333;
  text-decoration: underline;
}

.articlemain__center__head .centerheadlink:hover {
  text-decoration: none;
}

.articlemain__center__head p {
  font-weight: 600;
}

.articlenavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 30px 0;
}

.articlenavbar__left {
  color: #333;
  font-size: 13px;
  display: inline-block;
  padding: 3px 0 0 0;
}

.articlenavbar__right .linksocial {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 2px 2px 2px;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.articlenavbar__right .linksocial:hover {
  border: 1px solid grey;
  border-radius: 50%;
}

.articlemain__center__text {
  font-weight: 600;
}

.articlemain__center__text h3 {
  display: inline-block;
  padding: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.articlemain__center__text .centerlink {
  color: #326891;
  text-decoration: underline;
}

.articlemain__center__text .centerlink:hover {
  text-decoration: none;
}

.articlemain__aside {
  width: 25%;
  padding: 50% 6% 0 0;
}

.articlemain__aside .sideimg {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.asideheading {
  padding: 0 0 10px 0;
  margin: 0 0 13px 0;
  border-bottom: 1px solid gray;
}

.asideheading h5 {
  display: inline-block;
  color: black;
  font-weight: 600;
}

.aside__body_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.body__item_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.body__item_right {
  display: inline-block;
  padding: 10px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.body__item_right .linkaside {
  color: #333;
}

.body__item_right .linkaside:hover {
  text-decoration: underline;
}

.sectiontheory {
  width: 945px;
  margin: 0 auto 40px auto;
}

.sectiontheory__text h3 {
  display: inline-block;
  padding: 40px 0 10px 0;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.sectiontheory__text p {
  font-size: 14px;
  color: #666;
}

.sectiontheory__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  background-image: url("/img/theory1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sectiontheory__grid_item {
  padding: 0 7% 0 0;
  margin: 150px 0 0 0;
}

.sectiontheory__grid_item p {
  font-size: 1rem;
  background: transparent;
}

.section__theory_underline {
  width: 60px;
  border-top: 1px solid black;
  margin: 20px 0 20px 0;
}

.lowerpart {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  border-bottom: 3px solid gray;
  padding-bottom: 25px;
}

.lowerpart .lowerpartimg {
  width: 100%;
}

.lowerpart .lowerpartimg:hover {
  cursor: pointer;
}

.headinglinkbot {
  color: #121212;
}

.headinglinkbot:hover {
  text-decoration: underline;
}

.solelink {
  display: inline-block;
  padding: 5px 5px 5px 0;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.solelink:hover {
  color: #666;
}

.date {
  font-size: 10px;
  color: #666;
}

.botcaption {
  font-size: 10px;
  text-align: right;
  display: block;
  padding: 5px 0 0 0;
  color: #666;
}

.lowerpart__left {
  margin-right: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.lowerpart__left .lowerpart__left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lowerpart__left .lowerpart__left__content .lowerpart__left__content__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  padding: 0 0 20px 20px;
}

.lowerpart__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.mostpopular {
  display: block;
  border-top: 1px solid rgba(102, 102, 102, 0.315);
  padding: 20px 0 20px 0;
}

.lowerpart__right__heading,
.lowerpart__left_heading {
  color: #333;
  padding: 17px 0 20px 0;
  font-size: 16px;
  font-weight: 800;
  border-top: 1px solid black;
}

.lowerscoreline {
  width: 95%;
  margin: 1px auto 0 auto;
  border-top: 1px solid gray;
}
/*# sourceMappingURL=style.css.map */